:root {
  /* background color */
  /* --background-old: #252A48; */
  --background: #0d2149;
  --sidebar-background-old: #21222D;
  --sidebar-background: #208aae;

  /* text color */
  --section-header: #72CEC1;
  --p1-text: #FF9E9E;
  --p2-text: white;
  /* --p2-text-alt: #f9ebe0; */ /* slightly warmer white */
  --p3-text: #b1b1b1;
  --highlight: #54ACF6;
}

body {
/*   background-color: #105a92; */
  background-color: var(--background);
  height: 100%;
}

.container {
  display: flex;
}

.contents {
  color: white;
  font-family: "Oswald", sans-serif;
  width: 80%;
  margin: 0 2rem 0 2rem;
  padding: 1rem;
}

h2 { /* these are usually the section headers */
  color: var(--section-header);
  margin-top: 3rem;
}
