.section {
  display: flex;
  justify-content: space-around;
  overflow: auto;
  border-bottom: dashed 2px #56549E;
/*   padding-bottom: 1rem; */
}

.section a {
  /*   color: black; */
  color: var(--p2-text);
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.section a:hover {
  color: var(--p1-text);
}

.year {
  color: var(--highlight);
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
}

.section p {
  /* display: none; */
  color: var(--background);
  /* visibility: hidden; */
  /* color: #b1b1b1; */
  font-weight: initial;
}

.section p:hover {
  /* display: contents; */
/* visibility: visible; */
  COLOR: var(--p3-text);
}
