.languages li {
  text-align: center;
  display: inline;
  margin-left: 1rem;
  margin-right: 1rem;
/*   color: black; */
}

.name {
/*   color: #54d0ba; */
  color: #ACD1FD;
  font-size: 60px;
  /*   font-weight: 400; */
  margin-bottom: 0;
}

.bio li {
/*   list-style-type: none; */
  list-style-type: "\2728"; /* the sparkles emoji */
  font-size: 20px;
  color: #FF9E9E;
/*   font-family: "Lato", sans-serif; */
  /*   font-weight: 300; */
  /*   font-style: italic; */
}

li {
  font-family: "Lato", sans-serif;
}

