.languages li {
  text-align: center;
  display: inline;
  margin-left: 1rem;
  margin-right: 1rem;
}

.name {
  color: #54d0ba;
  /*   font-weight: 400; */
}

.bio li {
  list-style-type: none;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  /*   font-weight: 300; */
  /*   font-style: italic; */
}
