.languages li {
  text-align: center;
  display: inline;
  margin-left: 1rem;
  margin-right: 1rem;
}

.name {
  color: #54d0ba;
  weight: 400;
}

.bio li {
  list-style-type: none;
  font-size: 20px;
}