body {
  background-color: #105a92;
}

.container {
  display: flex;
}


.sidebar {
  color: white;
  width: 20%;
}

.sidebar a {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.contents {
  color: white;
  font-family: 'Oswald', sans-serif;
}