body {
/*   background-color: #105a92; */
  background-color: #252A48;
  height: 100%;
}

.container {
  display: flex;
}

.contents {
  color: white;
  font-family: "Oswald", sans-serif;
  width: 80%;
  margin: 0 2rem 0 2rem;
  padding: 1rem;
}

.sidebar {
/*   background-color: #56549e; */
/*   background-color: salmon; */
}

h2 { /* these are usually the section headers */
  color: #72CEC1;
  margin-top: 3rem;
}
