body {
/*   background-color: #105a92; */
  background-color: #252A48;
  height: 100%;
}

.container {
  display: flex;
}

.contents {
  color: white;
  font-family: "Oswald", sans-serif;
  width: 80%;
  margin: 0 2rem 0 2rem;
}

.sidebar {
/*   background-color: #56549e; */
/*   background-color: salmon; */
}

h3 {
  color: #72CEC1
}