.section {
  display: flex;
  justify-content: space-around;
  overflow: auto;
  border-bottom: dashed 2px #56549E;
/*   padding-bottom: 1rem; */
}

.section a {
  /*   color: black; */
  color: white;
  text-decoration: none;
  text-align: center;
}

.section a:hover {
  color: #12CAE6;
}

.year {
  color: #54ACF6;
  text-align: center;
  margin-top: 2rem;
}

.section p {
/*   display: none; */
/*   color: darkslategray; */
  color: #252A48;
}

.section p:hover {
/*   display: contents; */
/*   color: darkslategray; */
/*   margin-top: 0px; */
  COLOR: #b1b1b1;
}
