.section {
  display: flex;
  justify-content: space-evenly;
  overflow: auto;
}

.section a {
/*   color: black; */
  color: white;
  text-decoration: none;
  text-align: center;
}

.section a:hover {
  color: #12CAE6;
}

.year {
  color: #54ACF6;
}