.section {
  display: flex;
  justify-content: space-evenly;
  overflow: auto;
}

.section a {
  color: cyan;
  text-decoration: none;
  text-align: center;
}

.section a:hover {
  color: white;
}

.year {
  color: #ffffff;
}