.sidebar {
  color: white;
  width: 20%;
  margin-top: 1rem;
}

.sidebar a {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.sidebar a:hover {
  font-style: italic;
  font-weight: bold;
  color: #54d0ba;
}

.sidebar-link {
  margin: 5px;
  font-size: 18px;
}