.sidebar {
  color: white;
  width: 20%;
  padding-top: 1rem;
  background-color: #21222D;
}

.sidebar a {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.sidebar a:hover {
  font-style: italic;
  font-weight: bold;
/*   color: #54d0ba; */
  color: #54ACF6;
}

.sidebar-link {
  margin: 5px;
  font-size: 18px;
}